.main__footer {
  text-align: center;
}

.main__logo {
  margin-right: 100px;
}

.main__button {
  margin-right: 20px;
}

.header {
  display: flex;
  align-items: center
}

.header__side {
  margin-left: auto;
}
